<!DOCTYPE html>
<html>
<head>
  <title>Trang Ngon Tinh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="https://s3.amazonaws.com/ngontinh/bootstrap/js/bootstrap.min.js"></script>

  <link rel="icon" href="https://s3.amazonaws.com/ngontinh/image/favicon.png" type="image/gif" sizes="16x16">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://s3.amazonaws.com/ngontinh/css/csssheet.css" rel="stylesheet">
  <link href="https://s3.amazonaws.com/ngontinh/css/advanced-css.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  <style>
      body{
          background-image: url('https://s3.amazonaws.com/ngontinh/image/bokeh.png');
      }
      .jumbotron{
          background-image: url('https://s3.amazonaws.com/ngontinh/image/zenbg-1.png'), url('https://s3.amazonaws.com/ngontinh/image/zenbg-2.png');
      }
      .head{
          background-image: url('https://s3.amazonaws.com/ngontinh/image/header.png');
      }
      .footer{
          background-image: url('https://s3.amazonaws.com/ngontinh/image/footer.png');
      }
  </style>
</head>
<body>

<div class="head">
  <a href="/"><img src="https://s3.amazonaws.com/ngontinh/image/logo3.png" width="250" height="100"></a>
          <span style="float:right; margin:50px 0 0 0;">
          <form class="navbar-form searchbox" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search..." style="margin-bottom">
            </div>
            <button type="submit" class="btn btn-warning btn-sm">Go</button>
          </form>
          <a href=""><img src="https://s3.amazonaws.com/ngontinh/image/email.png" width="45px"></a>
          <a href=""><img src="https://s3.amazonaws.com/ngontinh/image/facebook.png" width="45px"></a>
          <a href=""><img src="https://s3.amazonaws.com/ngontinh/image/twitter.png" width="45px"></a>
          <a href=""><img src="https://s3.amazonaws.com/ngontinh/image/rss.png" width="45px"></a></span>
</div>

<p class="navbar-text pull-right">

<div>
  <ul class="navmenu">
    <li><a href="/" id="trangchu"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li><a href="/fictions" id="danhsachtruyen">List of stories</a></li>
    <li><a href="/genres" id="theloai">Genres</a></li>
    <li><a href="/" id="timnangcao">Advanced Search</a></li>
  </ul>
</div>


<div class="container">
      <div class="startofbody">


<%= yield %>


<div class="footer" >
  <div class="row">
    <ul class="footer-menu">
      <a href="/"><li>Home</li></a>
      <li>|</li>
      <a href="/"><li>List of Stories</li></a>
      <li>|</li>
      <a href="/"><li>Genres</li></a>
      <li>|</li>
      <a href="/"><li>Vietnamese Site</li></a>
      <li>|</li>
      <a href="/"><li>Advanced Search</li></a>
    </ul>
  </div>
  <div>
    <p>© 2015 TrangNgonTinh, CA. All Rights Reserved.<br>
      Designed by <a href="http://catindisguise.com/">Cat In Disguise</a></p>
  </div>
</div>

</body>
</html>
